.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Examples/Example App/ExampleApp/Secrets.plist
Examples/Example App/.build/
Examples/.build/index-build
buildServer.json
.xcede
Examples/.build

# xcode-build-server files
buildServer.json
.compile
